@import '~themes/default/styles/common/variable.less';
@import '~mallStyles/mixins/hairLine.less';
.approval-track{
    /deep/ .vux-timeline{
        padding: .5rem;
        .vux-timeline-item-content{
            padding: 0 0 1rem .6rem;
        }
    }
    
    section{
        .bpx(1px, .04rem);
        border-radius: .04rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .2rem;
        background: #fff;
    }
}