@import '~themes/default/styles/common/variable.less';
@import '~mallStyles/mixins/mixinsStyle.less';
@import '~mallStyles/mixins/hairLine.less';
/deep/ .cartpart.cart-thumb{
    bottom: 1.1rem;
}
.order-detail-container{
    a.refresh{
        color: @theme-color;
    }
    &>.content{
        padding-bottom: 1rem;
        position: relative;
    }

    .statu-area{
        position: relative;
        padding:.32rem .9rem .2rem;
        min-height: 2.24rem;
        background: url('~themes/default/img/order/orderDetail/bg_mall_dingdanxiangqing1@2x.png') 0 0 no-repeat,
            url('~themes/default/img/order/orderDetail/bg_mall_dingdanxiangqing2@2x.png') right .42rem no-repeat,
            linear-gradient(143deg,#FF5D54  0%,#E21F1B 100%);
        background-size: contain, contain;

        .icon{
            display: block;
            margin: 0 auto .12rem;
            width: .88rem;
            height: .88rem;

            &.unapproval{
                background: url('~themes/default/img/order/orderDetail/icon_mall_daishenpi.svg') 0 0 no-repeat;
                background-size: contain;
            }
            &.unpaid{
                background: url('~themes/default/img/order/orderDetail/icon_mall_daifukuan.svg') 0 0 no-repeat;
                background-size: contain;
            }
            &.complete{
                background: url('~themes/default/img/order/orderDetail/icon_mall_yiwancheng.svg') 0 0 no-repeat;
                background-size: contain;
            }
            &.canceled{
                background: url('~themes/default/img/order/orderDetail/icon_mall_yiquxiao.svg') 0 0 no-repeat;
                background-size: contain;
            }
            &.undelivered{
                background: url('~themes/default/img/order/orderDetail/icon_mall_daifahuo.svg') 0 0 no-repeat;
                background-size: contain;
            }
            &.unreceived{
                background: url('~themes/default/img/order/orderDetail/icon_mall_daishouhuo.svg') 0 0 no-repeat;
                background-size: contain;
            }
        }

        .label{
            text-align: center;
            margin-bottom: .3rem;
            font-size: .32rem;
            color: #fff;
        }

        .pay-info{
            display: flex;
            justify-content: space-between;
            margin: .2rem 0 .4rem;
            color: #fff;
            text-align: center;
            font-size: .26rem;
            line-height: .4rem;

            .amount{
                font-size: .4rem;
            }

            .bold{
                font-weight: bold;
            }
        }
        .approval-info{
            display: flex;
            justify-content: space-between;
            margin: .2rem 0 .4rem;
            color: #fff;
            text-align: center;
            font-size: .26rem;
            line-height: .4rem;
            .tips{
                text-align: center;
                width: 100%;
            }
            .bold{
                font-weight: bold;
            }
        }
        .pay-btn{
            /deep/ .order-btn-pay{
                display: block;
                margin: 0 -.04rem .4rem;
                background: #fff;
                color: @theme-color;
                text-align: center;
                height: .8rem;
                line-height: .8rem;
                border-radius: .4rem;
                &::before{
                    content: none;
                }
                &:active{
                    background: rgba(255,255,255,.9);
                }
            }
        }
    }

    .bottom-content{
        position: relative;
        margin-top: -.2rem;
        border-radius: @border-radius-base @border-radius-base 0 0;
        padding-top: .2rem;
        background: #fff;
    }

    .refund_part{
        .bbpx();
        height: 1.2rem;
        padding: 0 .3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: .28rem;
        margin-top: -.2rem;
        .status{
            color: @success-color;
        }
        .amount{
            color: @text-color;
            .content{
                margin-left: .26rem;
                font-size: .36rem;
                color: @danger-color-light;
                font-weight: bold;
            }
        }
    }

    .express-content{
        position: relative;
        background: #fff;
        padding: .16rem .2rem;
        align-items: flex-start;
        position: relative;
        display: flex;
        .icon_box{
            align-items: center;
            justify-content: center;
            display: flex;
            height: 0.42rem;
            margin-right: .12rem;
        }
        .right-arrow{
            position: absolute;
            right: .2rem;
            top: 50%;
            transform: translateY(-50%);
            height: .24rem;
            width: .24rem;
            background: url(~themes/default/img/icon/icon_common_rightarrow.svg) 0 0 no-repeat;
            background-size: contain;
        }

        .icon{
            display: inline-block;
            width: .32rem;
            height: .32rem;
            

            &.express {
                background: url(~themes/default/img/icon/icon_mall_songhuo2.svg) 0 0 no-repeat;
                background-size: contain
            }
            &.position{
                background: url(~themes/default/img/icon/icon_clockin_locatoion2.svg) 2px 0 no-repeat;
                background-size: contain
            }
        }

        .content{
            flex: 1;
            padding-right: .3rem;
            font-size: .26rem;
            line-height: .42rem;
            
            .person-info{
                font-size: .32rem;
                font-weight: bold;
                line-height: .44rem;
            }

            .no-wrap{
                -webkit-line-clamp: 2;
            }

            .sub-info{
                padding-top: .04rem;
                color: @secondary-text-color;
                line-height: .36rem;
            }
            /deep/ a.call_phone{
                color: @theme-color;
                font-weight: 600;
                cursor: pointer;
                &:active{
                    opacity: .8;
                }
            }
        }
    }

    .sub-content{
        background: @background-color;
        padding: .2rem .2rem .6rem;

        .btn_wrap{
            display: flex;
            flex: 1;
            justify-content: flex-end;
            margin-top: .3rem;
            &>div:last-child{
                margin-left: .2rem;
            }
        }

        .content-block:last-of-type{
            padding-bottom: 0;
        }
        section{
            
            .contact-customer{
                &:active{
                    opacity: .8;
                }
                cursor: pointer;
                margin-left: -.3rem;
                margin-right: -.3rem;
                margin-top: .4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0 0 .2rem .2rem;
                height: .88rem;
                line-height: .88rem;
                font-size: .28rem;
                color: @text-color;
                background: #f6f8fa;
                /deep/ .order-btn.order-btn-contactCustomer{ 
                    background: transparent;
                    padding-left: 0;          
                    &::before{
                        display: none;
                    }
                    &:active{
                        background: transparent;
                        box-shadow:none;
                    }
                }
                /deep/ .order-btn.order-btn-contactCustomer.customerService{ 
                    padding-left: .06rem;
                }
            }

            background: #fff;
            border-radius: @border-radius-base;
            margin-bottom: .2rem;
            padding: .3rem;
            box-shadow:0px 4px 16px -4px rgba(125,155,250,0.1);

            &.goods-block{
                padding-top: .4rem;
                padding-bottom: .4rem;
                // 按钮的样式
                /deep/ .btn{
                    display: flex;
                    .order-btn{
                        &:before{
                            border-radius: 1rem;
                        }
                    }
                    &>div{
                        &:last-child{
                            margin-left: 0.2rem;
                        }
                    }
                }
            }
            &.invoice-content{
                /deep/ .order-btn-invoiceDetail{
                    width:1.36rem;
                    height:0.40rem;
                    line-height: 0.4rem;
                    text-align: center;
                    border-radius:0.20rem;
                    color: @theme-color;
                    font-size: 0.24rem;
                    margin-left: 0.4rem;
                    margin-top: 0.05rem;
                    &::before{
                        border-color: @theme-color;
                    }
                    &:active{
                        background-color: @theme-color;
                        background: @theme-color;
                        color: #fff;
                    }
                }
            }
        }
        .payment-content{
            ul{
                li{
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .no-marginbottom{
        ul li{
            margin-bottom: 0!important;
        }
    }
    .content-block{
        &.date-content{
            ul li{
                display: flex;
                align-items: flex-start;
                margin-bottom: 0;
                .dateRange{
                    line-height: .4rem;
                }
            }
        }
        .tips{
            display: flex;
            color: @third-text-color;
            font-size: .24rem;
            line-height: .34rem;
            .icon{
                display: inline-block;
                margin-top: .05rem;
                margin-right: .06rem;
            }
        }

        .rmb{
            margin-right: .05rem;
        }

        .totalPrice{
            font-size: .28rem;
            padding: .06rem;
            text-align: right;
            .amount{
                display: inline-block;
                font-size: .4rem;
                color: @danger-color-light;
                /deep/ .rmb{
                    font-size: 0.28rem;
                }
            }
        }

        ul{
            &.top-line{
                .btpx(1px, @border-color-base, 1.7rem);
                margin-top: .24rem;
                padding-top: .24rem;
            }
            li{
                margin-bottom: .34rem;
                display: flex;
                align-items: center;
                font-size: .28rem;
                color: @text-color;
                .title{
                    color: @third-text-color;
                    min-width: 1.4rem;
                    margin-right: .28rem;
                }

                .number{
                    font-size: .3rem;
                    display: inline-block;
                }

                .btn{
                    .bpx(1px, .2rem, @theme-color);
                    color: @theme-color;
                    height: .4rem;
                    line-height: .4rem;
                    margin-left: .4rem;
                    padding: 0 .2rem;
                    text-align: center;
                    font-size: .24rem;
                }

                .plus{
                    color: @danger-color-light;
                    &:before{
                        content: '+';
                        display: inline-block;
                        color: @danger-color-light;
                    }
                }
            }

            &.space-between{
                li{
                    justify-content: space-between;
                }
            }
        }

    }

}

.btn-group{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #fff;
    height: 1.1rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    font-size: .28rem;
    box-shadow:0px 6px 20px 0px rgba(101,112,242,0.12);
    
    /deep/ .btn-group-container{
        .order-btn{
            .bpx(1px, .36rem, #d8d8d8);
            text-align: center;
            width: 2.1rem;
            height: .72rem;
            line-height: .72rem;
            border-radius: .36rem;
            margin-right: .3rem;
            position: relative;

            &:before{
                border-radius: 1rem;
            }
    
            &.order-btn-orderAgain, &.order-btn-pay{
                .linear-gra-mall-btn(140deg);
                color: #fff;
                &:before{
                    border-color: transparent;
                }
            }
            &.order-btn-approval{
                .linear-gra-mall-addFavorite(140deg);
                color: #fff;
                &:before{
                    border-color: transparent;
                }
            }
        }
    }
}