
@import '~styles/core/common.less';
@import '~styles/mixins/mixinsStyle.less';

.trip-container{
    padding-top: .36rem;
    background-color: #fff;
    border-radius: .2rem;
}

.title_content{
    padding: 0 .4rem;
    font-size: .32rem;
    flex: 1;
    font-weight: bold;
}

.position{
    padding: 0 .4rem;
}