
.title {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-bottom: 5px;
  background-color: #fff;
  width: 100%;
  border-radius: 15px;
  .third_party {
    font-size: 12px;

  }
}
.content {
  background: none;
}

.commen_wrap {
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  .commen_title {
    text-align: left;
    color: #333;
    font-size: 14px;
    border-bottom: 1px solid rgba(0,0,0, .05);
    padding-bottom: 15px;
  }

  .next_step {
    width: 100px;
    height: 37px;
    background: #FF782D;
    font-size: 14px;
    margin-top: 50px;
  }

  .default_button {
    width: 100px;
    height: 37px;
    font-size: 14px;
    margin-top: 50px;
  }
}

