.detail{
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  // text-align: center;
  flex-direction: column;
  img{max-width: 100%;}
  p{text-align: left;}
}  
.tittle{
  font-weight: 700;
  color: #222;
  border-left: 3px solid #f30300;
  padding-left: 6px;
  margin-bottom: 10px;
}
.params{
  padding: 20px;
  .params_item{
    border: 1px solid #dfdfdf;
    border-bottom: 0;
    .params_item_tittle{
      color: #222;
      padding: 5px;
      border-bottom:1px solid #dfdfdf
    }
    .params_item_row{
      border-bottom:1px solid #dfdfdf
    }
    .params_item_col{
      padding: 5px;
    }
  }
}