.seckill_time_wrap {
  border-left: 1px solid #f2f2f2;
  margin-bottom: 5px;

  .seckill_time_item {
    width: 76px;
    height: 60px;
    color: #333;
    font-size: 14px;
    border-top: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    background: #fff;
  }
}

.container{
  padding: 10px 20px;
}

.item{
  display: flex;
  margin-bottom: 10px;
  .lable{
      width: 80px;
      .attention{
        color: red;
        margin-right: 4px;
      }
  }
  .content{
      flex: 1;
  }
}