//背景色
@color-bg                : #f2f3f5;

@fc-black                : #191919;
@fc-b2                   : #b2b2b2;
@fc-c2                   : #c2c2c2;
//一般字体颜色
@fc-normal               : #333;
//提示字体颜色(用在表单dt)
@fc-label                : #666;
//信息字体颜色(用在text-info)
@fc-info                 : #999;
//文字不可用状态
@fc-disable              : #ccc;
//placeholder文字颜色
@fc-placeholder          : #a9a9a9;
//边框颜色
@bc-normal               : #d7d7d7;
//内联边框颜色
@bc-inline               : #e7e7e7;

//有色按钮里的字体颜色
@color-white             : #fff;
//警告红色
@color-red               : #f25e3d;
//橙色
@color-orange            : #ff8b03;
//绿色
@color-green             : #23c7ad;
//蓝色
@color-blue              : #3864A7;

//字体颜色
@font-blue              : #478aee;
@font-red               : #f83939;
@font-green             : #25cb67;
@font-yellow            : #f8a339;

//蓝色系蓝色按钮按压背景颜色
@font-blue-active       : #407cd6;
//蓝色系白底按钮按压背景色
@font-white-active      : #ecf3fd;
//红色系红色按钮按压背景颜色
@font-redbg-active      : #ff4e4e;
//红色系白底按钮按压背景色
@font-red-active        : #ffebeb;
//蓝色文字按压色值
@font-active            : #B5d0f9;
//黑色文字按压色值
@font-Black-active      : #999;
//列表按压背景颜色
@list-active            : #e5e5e5;



//不可用状态
@color-disable           : #999;

@screen-xs-max      : 550px; //（小屏）
@screen-md-min     : 768px;//（中屏）
@screen-lg-min       : 1080px;//（全屏）

//底部border颜色
@border-color           : #e5e5e5;