@import '~themes/default/styles/common/variable.less';
@import '~mallStyles/mixins/hairLine.less';
.clear(){
    &:before,&:after{
        clear: both;
        content:'';
        display: block;
        overflow: hidden;
        line-height: 0px;
        height: 0px;
        zoom: 1;
    }
}
.thumb-container{
    .content{
        .order-box{
            display: flex;
            margin-bottom: 0.26rem;
            .left-content{
                position: relative;
                flex: 1;
                display: flex;
                //多图片时右侧的阴影
                .shadow{
                    position: absolute;
                    right: -20px;
                    top: 0;
                    bottom: 0;
                    overflow: hidden;
                    width: 20px;
                    box-shadow: -14px 0px 10px -8px rgba(151,151,151,.67);
                }
                .img{
                    width: 1.5rem;
                    height: 1.5rem;
                    overflow: hidden;
                    //多个图片显示滑动的效果
                    &.moreImg{
                        flex: 1;
                        display: flex;
                        flex-wrap: nowrap;
                        -webkit-overflow-scrolling: touch;
                        -ms-overflow-style: none;
                        overflow-y:hidden;
                        overflow-x: auto;
                       
                        .img-comp{
                            width: 1.5rem;
                            height: 1.5rem;
                            margin-right: 0.1rem;
                            flex-shrink: 0;
                            border-radius: .08rem;
                        }
                    }
                    
                }
                .des{
                    flex: 1;
                    margin: 0 .24rem;
                    .title{
                        font-size: 0.28rem;
                        overflow:hidden;
                        text-overflow:ellipsis;
                        display:-webkit-box;
                        -webkit-box-orient:vertical;
                        -webkit-line-clamp:2;
                        line-height: .36rem;
                    }
                    .format{
                        overflow:hidden;
                        text-overflow:ellipsis;
                        display:-webkit-box;
                        -webkit-box-orient:vertical;
                        -webkit-line-clamp:1;
                        font-size: .22rem;
                        color: @third-text-color;
                        margin-top: .12rem;
                    }
                }
            }
            .right-content{
                width: 1.2rem;
                font-size: 0.28rem;
                text-align: right;

                .statu{
                    &.unapproval, &.unpaid, &.unreceived{
                        color: @warning-color;
                    }
                    &.canceled{
                        color: @secondary-text-color;
                    }
                }
            }
        }

        .price-part{
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            font-size: .36rem;
            font-weight: bold;
            .count{
                font-size: .22rem;
                color: @third-text-color;
                margin-right: .1rem;
                font-weight: normal;
            }
        }
       

        

      
    }
}