@import '~themes/default/styles/common/variable.less';
@import '~mallStyles/mixins/hairLine.less';
.thumb-container{
    width: 100%;
    height: 100%;

    .search_prolist_item {
        display: block;
        position: relative;
        background-color: inherit;
        .search_prolist_item_inner {
            position: relative;
            padding-left: 1.5rem;
            min-height: 1.5rem;
            .search_prolist_cover {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                left: 0;
                top: 0;
                width: 1.5rem;
                height: 1.5rem;
                overflow: hidden;
                .goods-thumbnail-container{
                    width: 1.5rem;
                    height: 1.5rem;
                    img{
                        background: #fff;
                        width: 100%;
                    }
                }
                
            }
        }
        .search_prolist_info {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-sizing: border-box;
            margin-left: 0.22rem;
            overflow: hidden;
            line-height: 1;
           
            .search_prolist_title{
                font-size: 0.28rem;
                word-break: break-all;
                color: @text-color;
                line-height: 0.36rem;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                // height: .8rem;
            }

            .sub-text{
                color: @third-text-color;
            }

            .price-content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 0.2rem;
                .search_prolist_price {
                    margin-right: .1rem;
                    display: inline-block;
                    font-size: 0.4rem;
                    color: @danger-color-light;
                    min-width: .8rem;
    
                    .no-price{
                        font-weight: bold;
                        font-size: .24rem;
                    }
    
                    strong {
                        font-size: .36rem;
                        font-weight: 400;
                    }
                }
                .action{
                    cursor: pointer;
                }

            }

            
        }
    }
}