@import '~styles/common.less';
@line-height: 32px;
@font-color: #191919;
@placeholder-color: #B2B2B2;

.financialStatements {
  .flex-box;
  .flex-flow(column, nowrap);
  //   background: #fff;
  margin-left: 15px;

  .contionDiv {
    margin-top: 20px;
    background: white;
    padding: 0px 24px;
  }

  .condition {
    .flex-box;
    .flex-wrap(wrap);

    // justify-content: space-between;
    &:nth-of-type(1) {
      margin-top: 38px;

      label:nth-of-type(1) {
        padding-right: 0px;
      }

      label:nth-of-type(2) {
        padding-right: 14px;
      }
    }

    &:nth-of-type(2) {
      margin-top: 20px;
    }

    &:nth-of-type(3) {
      margin-top: 20px;
      margin-right: 15px;
      justify-content: flex-end;
    }

    .conditionP {
      width: fit-content;
      margin: 0 0 0 30px;
      display: flex;
      &:nth-of-type(1) {
        margin: 0;
      }
      .inCascader {
        margin-left: 3px;
        width: 170px;
        }
    }

    .conditionPay {
      display: flex;
      margin: 0 0 0 30px;

      .CascaderClass {
        margin-left: 3px;
        width: 230px;
        font-size: 14px;
      }
      .labelOption{
        white-space: normal;
        width: 198px;
        padding-right: 8px;
      }    
    }

    .custlabel1 {
      width: fit-content;
    }

    label {
      .flex(none);
      font-size: 14px;
      margin-left: 38px;
      //   margin-right: 14px;
      line-height: @line-height;
      display: inline-block;
      text-align: end;
      max-width: 160px;

      &:first-child {
        margin-left: 0;
      }
    }

    input[type='text'] {
      .flex(none);
      height: @line-height;
      line-height: @line-height;
      padding: 0px 12px;
      font-size: 14px;
      border: 1px solid #ebebeb;
      border-radius: @radius-small;
      color: @font-color;
      background-color: initial;

      &:nth-of-type(1) {
        width: 170px;
      }

      &:nth-of-type(2) {
        width: 170px;
      }

      &:nth-of-type(3) {
        width: 170px;
      }
    }

    .date-picker {
      width: 125px;
    }

    select {
      .flex(none);
      background: initial;
      padding: 0px 12px;
      font-size: 14px;
      border: 1px solid #ebebeb;
      color: @font-color;
      border-radius: @radius-small;
      height: @line-height;
      outline: none;
      width: 120px;

      // &:nth-of-type(1) {
      //   width: 120px;
      // }

      &:nth-of-type(2) {
        width: 120px;
      }

      &:nth-of-type(3) {
        width: 120px;
      }
    }
    .selectType{
      width: 150px;
     }  

    .date-split {
      .flex(none);
      margin: 0 10px;
      font-size: 14px;
      line-height: @line-height;
    }

    .date-range {
      .flex(none);
      .flex-box;
      margin-left: 32px;

      label {
        color: @label-color;
        font-size: 14px;
      }

      label,
      ul {
        .flex(none);
        .flex-box;
        line-height: normal;
        margin: 6px 0;
      }

      li {
        margin: 0 12px 0 5px;
        width: 42px;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        text-align: center;

        &:hover,
        &.selected {
          color: @primary;
          border-bottom: 2px solid @primary;
        }

        &:first-child {
          margin-left: 0px;
        }

        &:nth-of-type(3) {
          margin-left: 12px;
        }
      }
    }
  }

  .showMore {
    margin-top: 16px;
    height: 30px;
    line-height: 30px;

    span {
      color: #478aee;
    }

    img {
      width: 16px;
      vertical-align: middle;
    }
  }

  .classify-menu {
    margin-top: 16px;
    padding-top: 20px;
    border-top: 1px dashed #e5e5e5;

    li {
      float: left;
      width: 117px;
      height: 34px;
      line-height: 34px;
      text-align: center;
      font-size: 14px;
      border: 1px solid #c2c2c2;
      border-left: none;
      cursor: pointer;

      &:hover,
      &.selected {
        color: #fff;
        background-color: @primary;
        border-color: @primary;
      }

      &:first-child {
        border-radius: @radius 0 0 @radius;
        border-left: 1px solid #c2c2c2;
      }

      &:last-child {
        border-radius: 0 @radius @radius 0;
      }

      .lastChildDiv {
        display: flex;

        .showNormalDiv {
          margin-left: 30px;
        }
      }
    }

    .order-count-label {
      float: left;
      color: @label-color;
      line-height: 34px;
      font-size: 14px;
      font-weight: bold;
      margin-top: 0.1rem;

      span {
        color: @font-color;
      }
    }
  }

  .btn-container {
    // .flex(auto);
    .flex-box;
    .justify-content(flex-end);

    .button {
      text-align: center;
      cursor: pointer;
      border-radius: @radius;
      white-space: nowrap;
      //   margin-top: 0.1rem;
      line-height: 32px;
      width: 120px;
      height: 32px;
      font-size: 14px;
      color: #fff;
      background-color: @primary;

      &:hover {
        background-color: #478aee;
      }
    }

    .clearButton {
      // margin-top: 16px;
      line-height: 32px;
      margin-right: 10px;

      span {
        color: #478aee;
      }
    }
  }

  .content-result {
    width: 100%;
    background: #FFFFFF;
    padding: 0 0 10px 0;

    .table {
      margin: 0 32px;
      border: 1px solid #ebebeb;
      border-radius: 4px;
      overflow-x: scroll;
    }
  }

  .pageDiv {
    background: #FFFFFF;
    padding: 0 20px 40px 0;

    .myPage {
        margin: 20px;
    }
  }

  input::-webkit-input-placeholder {
    color: @placeholder-color;
  }

  input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: @placeholder-color;
  }

  input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: @placeholder-color;
  }

  input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: @placeholder-color;
  }

  //弹出框
  .message-modal {
    .flex-box;
    .align-items(center);
    .flex-flow(column, nowrap);

    width: 416px;
    height: 256px;
    padding-top: 30px;
    background: #fff;
    border-radius: @radius;
    box-shadow: 0px 0px 10px #E5E5E5;
    position: absolute;
    z-index: 999999;
    top: 50px;
    left: calc(~"50% - 209px");

    .icon {
      display: block;
      width: 50px;
      height: 50px;
      background: url(~assets//icon_alert.png) no-repeat 0 0 transparent;
    }

    .content {
      margin: 18px auto 20px;
    }

    .button {
      margin-top: 26px;
      width: 110px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-size: 14px;
      color: #478aee;
      border: 1px solid #478aee;
      border-radius: @radius;
      cursor: pointer;
    }
  }

  //无结果时
  .empty-message {
    .flex(auto);
    .flex-box;
    .flex-flow(column);
    .align-items(center);
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 14px;
    color: @placeholder-color;
    text-align: center;

    .icon {
      display: block;
      width: 81px;
      height: 92px;
      background: url(~assets//icon_empty.png) no-repeat 0 0 transparent;
      margin-bottom: 16px;
    }
  }

  .btnPopover {
    button {
      background: none;
      border: none;
      outline: none;
      color: #333333;

      &:hover,
      &.selected {
        color: #FFFFFF;
      }
    }
  }

  .mailTopBox {
    background: white;
    padding: 24px 32px;

    .mailTopTitle {
      color: black;
      font-size: large;
      display: flex;

      .icon-back {
        margin: 0 20px 0 0px;
        height: 24px;
        width: 24px;
        display: inline-block;
        cursor: pointer;
        background: url(~assets//icon_back_nor.png) no-repeat 0 0 transparent;

        &:hover {
          background-image: url(~assets//icon_back_hov.png);
        }
      }
    }

    .mailTopDesc {
      margin-top: 10px;
      width: 100%;
      border: 1px solid #FFD38C;
      background: #FFFBF0;
      padding: 10px;
      border-radius: 5px;
      font-size: small;
      display: flex;

      .leftContent {
        color: #333333;
      }

      .content {
        color: #333333;
        // background: url(~assets//icon_mail_alert.png) no-repeat left;
        // background-size: 18px;
        padding-left: 10px;
      }
    }
  }

  .divSpace {
    width: 100%;
    background: #E7E7EA;
    height: 10px;
  }
}

.showButtonWrap {
  position: relative;

  .showButton {
    background: url(~assets//icon_wait_pay.png) no-repeat right;
    background-size: 15px;
    height: 25px;
    width: 25px;
  }

  .dialogShow {
    position: absolute;
    display: none;
    top: 30px;
    right: 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .5);
    z-index: 1;
    border-radius: 5px;
    height: 210px;
    width: 480px;
    padding: 25px;
    background: #FFFFFF;

    .line1 {
      color: #333333;
    }

    .line2 {
      color: #7F7F7F;
      line-height: 25px;
      margin-bottom: 15px;
    }

    .line3 {
      color: #7F7F7F;
      line-height: 25px
    }
  }
}

.showButtonWrap:hover .dialogShow {
  display: block;
}

.loading-container {
  text-align: center;
  height: 60px;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 160px;

  span {
    margin-top: 34px;
    height: 30px;
    text-align: center;
    padding-left: 35px;
    color: #7f7f7f;
    display: inline-block;
    background: url(~assets//loading.gif) no-repeat left;
    background-size: contain;
  }
}
