.search{
    display: flex;
    align-items: center;
    padding-left: 20px;
    .marginL10{
        margin-left: 10px;
    }
    margin-bottom: 20px;
}

.item{
   padding-top: 2px !important;
}

.title{
    margin: 10px ;
    color: #000;
    font-weight: 600;
}

.itemtitle{
    padding-left: 60px;
}

.p20 {
    :global .ant-modal-confirm-body-wrapper{
      padding: 20px;
    }
  }