.selectPreson {
    display: flex;
    align-items: center;
    padding: 20px 0 0 30px;
    margin-top: 20px;
    border-top: 1px dashed #ccc;

    &_left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 10px;

        &_dec {
            min-width: 88px;

        }

        &_input {
            min-width: 300px;
        }
    }

    &_right {
        cursor: pointer;
    }
}