<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>商户后台</title>
  <link rel="icon" href="./favicon.png" type="image/x-icon">
  <script src="./thirdparty/data-set.min.js"></script>
  <script src="./thirdparty/iconfont20221229.js"></script>
  <script src="./thirdparty/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="./thirdparty/layui/css/layui.css" type="text/css">
  <script src="./thirdparty/layui/layui.js"></script>
  <script src="./snutils/swp-utils.js"></script>
  <script src="./pay/sinopay.js"></script>
</head>
<body>

  <noscript>Sorry, we need js to run correctly!</noscript>
  <div id="root"></div>
</body>
</html>
