@import '~themes/default/styles/common/index.less';

.orderSuc {
    .topWrap {
        background: #fff;

        .top {
            padding-top: .54rem;
            text-align: center;
            color: @text-color;
            font-size: 0.32rem;

            .icon{
                fill: @success-color;
            }

            .tit {
                color: @success-color;
                font-size: 0.32rem;
                margin: .08rem 0 0.2rem;
                font-weight: bold;
            }

            .text {
                color:#999999;
                margin-top: 0.08rem;
                font-size: 0.24rem;
            }
            
            .mt10 {
                font-size: 0.3rem;
            }
        }
    }
}

.tab {
    background-color: #fff;
    margin-bottom: .2rem;
}

.btn-group {
    margin: .6rem .3rem 0;
}

.rightTips {
    padding: 0.3rem 0 .4rem;
    font-size: 0.28rem;
    color: @theme-color;
    text-align: right;
}
