@import '~newsStyles/themes/default.less';
.authorize-container[cust-style]{
    .authorize-confirm{
        header{
            background: url('~themes/default/img/authorization/bg_mall_circle1.svg') left top no-repeat,
            url('~themes/default/img/authorization/bg_mall_circle2.svg') right bottom no-repeat,
            linear-gradient(143deg, #6167FA 0%, #262DD9 100%);
            .icon{
                background: url('~themes/default/img/authorization/icon_mall_fuwushouquan.svg') left top no-repeat;
                background-size: contain;
            }
        }
    
        .btn.confirm-btn[cust-style], .uri[cust-style]{
            color: @theme-color;
        }

        .auth-detail-link{
            .icon.checked[cust-style]{
                background: url('~themes/default/img/authorization/btn_common_radio_sel2.svg') 0 0 no-repeat;
                background-size: contain;
            }
        }
    }
    
}
.no-auth{
    .content{
        .btn[cust-style]{
            background: @theme-color !important;  
        }
    }
}

.auth-disagree-confirm[cust-style]{
    .weui-dialog__btn_primary{
        color: @theme-color;
    }
}