@retina: 2;
.icon { 
    background-image: url(./airlogo.png), url(./background.png) ;
    background-size: 100% auto;
}
.icon-8C { 
    .icon();
    width: 33px/@retina; 
    height: 21px/@retina; 
    background-position: 0px/@retina 0px/@retina; 
    display: inline-block;
}
.icon-9D { 
    .icon();
    width: 34px/@retina; 
    height: 26px/@retina; 
    background-position: 0px/@retina -21px/@retina; 
    display: inline-block;
}
.icon-3U { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -47px/@retina; 
    display: inline-block;
}
.icon-8L { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -81px/@retina; 
    display: inline-block;
}
.icon-9C { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -115px/@retina; 
    display: inline-block;
}
.icon-9H { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -149px/@retina; 
    display: inline-block;
}
.icon-A6 { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -183px/@retina; 
    display: inline-block;
}
.icon-all { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -217px/@retina; 
    display: inline-block;
}
.icon-AQ { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -251px/@retina; 
    display: inline-block;
}
.icon-BK { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -285px/@retina; 
    display: inline-block;
}
.icon-CA { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -319px/@retina; 
    display: inline-block;
}
.icon-CN { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -353px/@retina; 
    display: inline-block;
}
.icon-CO { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -387px/@retina; 
    display: inline-block;
}
.icon-CU { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -421px/@retina; 
    display: inline-block;
}
.icon-CX { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -455px/@retina; 
    display: inline-block;
}
.icon-CZ { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -489px/@retina; 
    display: inline-block;
}
.icon-DZ { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -523px/@retina; 
    display: inline-block;
}
.icon-EU { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -557px/@retina; 
    display: inline-block;
}
.icon-FM { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -591px/@retina; 
    display: inline-block;
}
.icon-FU { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -625px/@retina; 
    display: inline-block;
}
.icon-G5 { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -659px/@retina; 
    display: inline-block;
}
.icon-GJ { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -693px/@retina; 
    display: inline-block;
}
.icon-GS { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -727px/@retina; 
    display: inline-block;
}
.icon-GT { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -761px/@retina; 
    display: inline-block;
}
.icon-GX { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -795px/@retina; 
    display: inline-block;
}
.icon-GY { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -829px/@retina; 
    display: inline-block;
}
.icon-HO { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -863px/@retina; 
    display: inline-block;
}
.icon-HU { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -897px/@retina; 
    display: inline-block;
}
.icon-iconDefault { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -931px/@retina; 
    display: inline-block;
}
.icon-JD { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -965px/@retina; 
    display: inline-block;
}
.icon-JR { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -999px/@retina; 
    display: inline-block;
}
.icon-KA { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -1033px/@retina; 
    display: inline-block;
}
.icon-KN { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -1067px/@retina; 
    display: inline-block;
}
.icon-KY { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -1101px/@retina; 
    display: inline-block;
}
.icon-MF { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -1135px/@retina; 
    display: inline-block;
}
.icon-MS { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -1169px/@retina; 
    display: inline-block;
}
.icon-MU { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -1203px/@retina; 
    display: inline-block;
}
.icon-NS { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -1237px/@retina; 
    display: inline-block;
}
.icon-PN { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -1271px/@retina; 
    display: inline-block;
}
.icon-QW { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -1305px/@retina; 
    display: inline-block;
}
.icon-RY { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -1339px/@retina; 
    display: inline-block;
}
.icon-SC { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -1373px/@retina; 
    display: inline-block;
}
.icon-TG { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -1407px/@retina; 
    display: inline-block;
}
.icon-TV { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -1441px/@retina; 
    display: inline-block;
}
.icon-UA { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -1475px/@retina; 
    display: inline-block;
}
.icon-UO { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -1509px/@retina; 
    display: inline-block;
}
.icon-UQ { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -1543px/@retina; 
    display: inline-block;
}
.icon-VD { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -1577px/@retina; 
    display: inline-block;
}
.icon-Y8 { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -1611px/@retina; 
    display: inline-block;
}
.icon-ZH { 
    .icon();
    width: 34px/@retina; 
    height: 34px/@retina; 
    background-position: 0px/@retina -1645px/@retina; 
    display: inline-block;
}