/*
* created by thomas at 2019/10/24.
*/
@import '~styles/themes/default/index.less';
// 组件命名前缀
@sino-prefix: bp;

// 按钮
@btn-default-color: @text-color;
@btn-primary-color: #fff;
@btn-primary-bg-color: @theme-color;
@btn-success-bg-color: @success-color;
@btn-info-bg-color: @info-color;
@btn-warning-bg-color: @warning-color;
@btn-danger-bg-color: @danger-color;
@btn-primary-bg-image: '';
@btn-primary-bg-image-disabled: '';
@btn-primary-bg-image-active: '';
@btn-font-weight: 400;
@btn-border-radius-base: @border-radius-base;
@btn-shadow: 0 -.04rem .56rem 0 @shadow-color;
@btn-disabled-opacity: .4;

@btn-max-width: 400px;
@btn-height-base: .88rem;
@btn-height-md: .64rem;
@btn-height-sm: .48rem;

@btn-font-size-base: @btn-icon-size;
@btn-font-size-md: @btn-icon-size;
@btn-font-size-sm: .28rem;

@btn-padding-base: 0 .4rem;

@btn-hover-mixin-percent: 14%;
@btn-hover-mixin-color: #ffffff;
@btn-active-mixin-percent: 10%;
@btn-active-mixin-color: #000000;

@btn-icon-spacing: .06rem;
@btn-icon-size: .32rem;
@btn-icon-color: #ffffff;
