.subtitle {
    color: #343434;
    font-size: 14px;
    line-height: 40px;
}

.upload_img {
    display: inline-block;
    position: relative;
    width: 152px;
}

.upload_btn {
    line-height: 12px;
    text-align: center;
    color: #666;
    font-size: 12px;
    cursor: pointer;
    white-space: nowrap;
    margin-top: 5px;
}

.modal_tip_color {
    color: #136CD8;
    font-size: 12px;
    display: block;
    padding: 10px 0;
    line-height: 15px;
}