/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@retina: 2;
.icon-8C {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina 0px/@retina;
  width: 33px/@retina;
  height: 21px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-9D {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -21px/@retina;
  width: 34px/@retina;
  height: 26px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-GY {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -47px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-9C {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -81px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-3U {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -115px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-9H {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -149px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-A6 {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -183px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-all {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -217px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-AQ {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -251px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-BK {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -285px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-CA {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -319px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-CN {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -353px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-CO {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -387px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-CU {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -421px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-CX {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -455px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-CZ {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -489px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-DZ {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -523px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-EU {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -557px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-FM {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -591px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-FU {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -625px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-G5 {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -659px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-GJ {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -693px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-GS {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -727px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-GT {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -761px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-GX {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -795px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-8L {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -829px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-HO {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -863px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-HU {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -897px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-iconDefault {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -931px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-JD {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -965px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-JR {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -999px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-KA {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -1033px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-KN {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -1067px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-KY {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -1101px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-MF {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -1135px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-MS {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -1169px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-MU {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -1203px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-NS {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -1237px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-PN {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -1271px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-QW {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -1305px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-RY {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -1339px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-SC {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -1373px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-TG {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -1407px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-TV {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -1441px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-UA {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -1475px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-UO {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -1509px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-UQ {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -1543px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-VD {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -1577px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-Y8 {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -1611px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
.icon-ZH {
  background-image: url(./airlogo.png), url(./background.png);
  background-position: 0px/@retina -1645px/@retina;
  width: 34px/@retina;
  height: 34px/@retina;
background-size: 100% auto;display: inline-block;}
