@import '~styles/common.less';
//订单详情
@font-color-text1: #333333;
//已出票
@font-color-text2: #478aee;
//订单号
@font-color-text3: #7F7F7F;
//总金额数字
@font-color-text4: #F39800;
//退票成功
@font-color-text5: #25CB67;
//顺丰速递
@font-color-text6: #191919;
.order-detail {
    width: 100%;
    background: #F4F4F4;
    .header{
        background: #478aee;
        padding: 0 50px;
        margin: 1px;
    }
    .orderDetailContent {
        // width: 1280px;
        // margin: 0 auto;
        color: @font-color-text1;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 48px;
        /* width: 100%; */
        // padding-left:calc(~"50% - 640px");      
        // padding-right:calc(~"50% - 640px"); 
        padding: 0 40px 0 50px;
        overflow-y: auto;  
        .topNavigation {
            display: flex;
            align-content: space-between;
            .topNavLeft {
                width: 10%;
                height: 50px;
                line-height: 50px;
                display: flex;
                align-content: flex-start;
                .topNavBackBtn {
                    background: url(~assets//icon_back_nor.png) no-repeat 0 0 transparent;
                    height: 24px;
                    width: 24px;
                    margin-left: 0;
                    align-self: center;
                    &:hover {
                        background-image: url(~assets//icon_back_hov.png);
                    }
                }
            }
            .topNavMiddle {
                width: 80%;
                font-size: 24px;
                color: @font-color-text1;
                height: 50px;
                line-height: 50px;
                text-align: center;
            }
            .topNavRight {
                width: 10%;
            }
        }
    }
}
