@import '~styles/core/common.less';
@import '~styles/mixins/mixinsStyle.less';
html {
  font-size: 10000/750vw;
}
body {
  background-color: @background-color;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
}
.weui-cell__ft{
  max-width: 5rem;
  text-align: left;
}
