
.title {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-bottom: 5px;
  background-color: #fff;
  width: 100%;
  border-radius: 15px;
  .third_party {
    font-size: 12px;

  }
}
.content {
  background: none;
}

.commen_wrap {
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  text-align: left;
  .commen_title {
    text-align: left;
    color: #333;
    font-size: 14px;
    border-bottom: 1px solid rgba(0,0,0, .05);
    padding-bottom: 15px;
  }

  .next_step {
    width: 100px;
    height: 37px;
    background: #FF782D;
    font-size: 14px;
    margin-top: 50px;
  }
}

.wx_pay_qrcode{
  img{
    width: 170px;
    height: 170px;
    margin-top: 25px;
    margin-bottom: 20px;
    border: 1px solid #EEE;
    box-shadow: 0 0 20px 0 rgba(153, 153, 153, 0.2);
    border-radius: 3px;
  }
  .pay_tip{
    color: #999;
    font-size: 14px;
  }
  .wx_refresh{
    display: inline-block;
    width: 97px;
    height: 25px;
    line-height: 25px;
    background: #FF4C4C;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
    outline: none;
    text-align: center;
    margin-bottom: 25px;
  }
}
