.flex{
    padding: 10px 0;
    display: flex;
    justify-content: start;
    align-items: center;
}
.del_img{
    position: absolute;
    right: 0;
    top: -22px;
}
.title{
    margin: 0!important;
}
.goodsWrap{
    border-bottom: #999 1px dashed;
    padding: 5px;
}
.goods_warp{
    display: flex;
    flex-wrap: wrap;
}
.skuName{
    color: #222;
    line-height       : 16px;
    height            : 32px;
    width             : 100%;
    margin-top        : 2px;
    overflow          : hidden;
    text-overflow     : ellipsis;
    display           : -webkit-box;
    -webkit-line-clamp: 2;
    /*! autoprefixer  : off */
    -webkit-box-orient: vertical;
    word-break        : break-word;
    text-align        : left;
    font-size         : 12px;
}

.itemWrap{
    margin-bottom: 15px;
    border: #222 solid 1px!important;
    padding: 10px;
}