@import '~styles/core/common.less';
@import '~styles/mixins/mixinsStyle.less';
.serviceAgreement{
    background: @sub-background-color;
    font-size: 0.28rem;
    color: @text-color;
    .contectWrap{
		text-align: justify;
        padding: 0.4rem;
        line-height: 0.52rem;
        .title{
            font-size: 0.34rem;
            font-weight: bold;
            text-align: center;
        }
        .tips{
            font-size: 0.26rem;
            color: @secondary-text-color;
            text-align: center;
        }
        .section{
            padding-top: 0.25rem;
            font-size: 0.3rem;
            font-weight: bold;
        }
        .sectionText{
            font-size: 0.28rem;
            font-weight: bold;
        }
        .text{
            color: @secondary-text-color;
        }
    }
}  