/*主色*/
@theme-color:#4667f3;
/*中性色*/
@border: #e5e5e5;
@text-color: #191919;
@danger-color-light: #F83939;
@success-color: #25CB67;
@font-gray-color: #B2B2B2;

@border-radius-base: 4px;
@border-radius-sm: 3px;
@secondary-text-color: #7F7F7F;
//pc宽度
@screen-sm                : 616px;
@screen-md     : 768px;//（中屏）