
*[data-v-5b5fa2e4] {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
body[data-v-5b5fa2e4],
html[data-v-5b5fa2e4] {
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
body[data-v-5b5fa2e4] {
  color: #333;
  background-color: #f4f4f4;
  font-family: 'Microsoft Yahei', '微软雅黑', 'Hiragino Sans GB', '宋体', Tahoma, Arial, Helvetica, STHeiti, sans-serif;
  overflow-x: hidden;
}
h1[data-v-5b5fa2e4],
h2[data-v-5b5fa2e4],
h3[data-v-5b5fa2e4],
h4[data-v-5b5fa2e4],
h5[data-v-5b5fa2e4],
h6[data-v-5b5fa2e4] {
  font-weight: lighter;
}
ul[data-v-5b5fa2e4],
ol[data-v-5b5fa2e4] {
  padding: 0;
}
a[data-v-5b5fa2e4],
a[data-v-5b5fa2e4]:active,
a[data-v-5b5fa2e4]:hover {
  text-decoration: none;
  color: inherit;
}
img[data-v-5b5fa2e4] {
  border: none;
}
input[data-v-5b5fa2e4],
textarea[data-v-5b5fa2e4] {
  font-size: 1em;
  display: block;
  width: 100%;
  padding: 0;
  outline: none;
  border: none;
}
textarea[data-v-5b5fa2e4] {
  resize: none;
}
.fl[data-v-5b5fa2e4] {
  float: left;
}
.fr[data-v-5b5fa2e4] {
  float: right;
}
.cf[data-v-5b5fa2e4]:before,
.cf[data-v-5b5fa2e4]:after {
  content: "";
  display: table;
}
.cf[data-v-5b5fa2e4]:after {
  clear: both;
}
.nowrap[data-v-5b5fa2e4] {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tb[data-v-5b5fa2e4] {
  display: table;
  width: 100%;
}
.tb .cell[data-v-5b5fa2e4] {
  display: table-cell;
  vertical-align: middle;
}
.tb .min[data-v-5b5fa2e4] {
  display: table-cell;
  width: 1%;
  vertical-align: middle;
  white-space: nowrap;
}
.tb .max[data-v-5b5fa2e4] {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
.nowrap[data-v-5b5fa2e4] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hide[data-v-5b5fa2e4] {
  display: none;
}
.info[data-v-5b5fa2e4] {
  color: #999;
}
@media screen and (min-width: 420px) {
  /*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
[data-v-5b5fa2e4]::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 10px;
}
  /*定义滚动条的轨道，内阴影及圆角*/
[data-v-5b5fa2e4]::-webkit-scrollbar-track {
    background-color: #fff;
}
  /*定义滑块，内阴影及圆角*/
[data-v-5b5fa2e4]::-webkit-scrollbar-thumb {
    width: 7px;
    height: 7px;
    border-radius: 10px;
    background-color: #cccccc;
}
[data-v-5b5fa2e4]::-webkit-scrollbar-thumb:hover {
    background-color: #969696;
}
}
/*提示信息框PC版样式*/
.tipsBox[data-v-5b5fa2e4] {
  display: none;
  width: 100%;
  border-radius: 5px;
  position: fixed;
  bottom: 50%;
  left: 0%;
  text-align: center;
  z-index: 11001;
}
.tipsBox span[data-v-5b5fa2e4] {
  max-width: 60%;
  margin: 0 auto;
  display: inline-block;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 14px;
  color: #fff;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 1px 1px 5px #b2b2b2;
}
.tipsBoxAll[data-v-5b5fa2e4] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1200;
}
.tipsBoxAll .gotoIndex[data-v-5b5fa2e4] {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  box-shadow: 0.125em 0.125em 0.625em #222;
  font-size: 16px;
  width: 410px;
  height: 180px;
  margin: -90px 0px 0px -205px;
  border-radius: 3px;
  text-align: center;
  /* line-height: 180px; */
}
.gotoIndexText[data-v-5b5fa2e4] {
  line-height: 100px;
}
.gotoIndexBtn[data-v-5b5fa2e4] {
  width: 134px;
  background: #478aee;
  padding: 8px 0;
  border-radius: 4px;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
}
.no_wrap[data-v-5b5fa2e4] {
  display: -webkit-box;
  overflow: hidden;
  /*! autoprefixer: off; */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.page[data-v-5b5fa2e4] {
  text-align: right;
  margin: 15px 0;
}
.content_box[data-v-5b5fa2e4] {
  padding: 0px 0 10px;
  background: #fff;
  margin-bottom: 90px;
}
.listPageWrap[data-v-5b5fa2e4] {
  height: 100%;
  background: white url(../../static/img/background.cd7640b.png) no-repeat;
  background-size: cover;
}
.listPageWrap .contcentWrap[data-v-5b5fa2e4] {
  height: calc(100vh - 45px);
}
.zoomStyle .tableWrap[data-v-5b5fa2e4] .el-table {
  height: 411px;
  overflow: auto;
}
.tableWrap[data-v-5b5fa2e4] {
  padding: 0 40px;
}
.tableWrap[data-v-5b5fa2e4] .el-table {
  background: white url(../../static/img/bg_list.2abf3be.png) no-repeat;
  background-size: cover;
  height: 471px;
}
.tableWrap[data-v-5b5fa2e4] .el-table tr,
.tableWrap[data-v-5b5fa2e4] .el-table th {
  background: transparent !important;
}
.tableWrap[data-v-5b5fa2e4] .el-table th.el-table__cell {
  padding: 9px 0 9px 0;
}
.tableWrap[data-v-5b5fa2e4] .el-table td.el-table__cell,
.tableWrap[data-v-5b5fa2e4] .el-table th.el-table__cell.is-leaf {
  border-bottom: none;
}
.tableWrap[data-v-5b5fa2e4] .el-table::before {
  display: none;
}
.tableWrap[data-v-5b5fa2e4] .el-table .el-button {
  padding: 0 10px;
}
.tableWrap[data-v-5b5fa2e4] .page {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  margin-top: 30px;
}
.tableWrap[data-v-5b5fa2e4] .page.el-pagination.is-background .el-pager li {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAElBMVEX///////////////8AAAD///9KQB6zAAAABXRSTlPmphztAPMTpaIAAAAxSURBVCjPY3ASCEUCjCoMyqEowIhBFFUgkIEVVSCAIRQNjAoMDgH0iMKISozIxkgOANbLpmvihhHhAAAAAElFTkSuQmCC) no-repeat;
  background-size: cover;
  color: #222;
}
.tableWrap[data-v-5b5fa2e4] .page.el-pagination.is-background .el-pager li:not(.disabled).active {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAclBMVEXE4fvr8/8AAAC+5/vK3Pu75vvA4PvC3/vJ2/rn//9FovBIoPBDpfA/qPBBpvBMnO89qvBKnvBNm+/E5vo7rPBPme9RmO85rvBTlu/M3/o3sPDJ4vpVlO9Wku81sfCCwPR2zPSPtfRCuPFRqfBTp/BjmPBKzOVnAAAACnRSTlPvFQDv76+vr68VMP1phwAAAQdJREFUOMt9j9kWgjAMRFPArbKJKAIKrv//iyZNNae0MK/3TqaFaLeKj+H0sFYR7OL7cxiGruuapqnruizLLMvyPE/T9DWCgtV9mONa63ED8XOB6zfAcYnv9z0KhD2uDWfB4ynGYBbC3AoHFhjLfeFG8PYFHwoUplz2kbMg9xljbJ8Fvy+8QiGwL7xqUZD7zvsJVycSwveZkxB8f4FBzoLsu30SzihI330f4TMJ/vsK3heB694+8QsJsu/eJ06C2///z2AW7L7FLr+i4PZl33AWmMv/mRO+3lroiYfvIydBUzzOfRLgJX35349/EliPs/uYxxYUjO/APvcfiYJIbaC3aSdJtir6Aig5QzegjhViAAAAAElFTkSuQmCC) no-repeat;
  background-size: cover;
  color: #fff;
}
.tableWrap[data-v-5b5fa2e4] .page .el-pagination__total,
.tableWrap[data-v-5b5fa2e4] .page .el-pagination__jump,
.tableWrap[data-v-5b5fa2e4] .page .el-input__inner {
  color: #222;
}
.filterWrap[data-v-5b5fa2e4] {
  padding: 19px 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 11px;
}
.filterWrap[data-v-5b5fa2e4] .left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
}
.filterWrap[data-v-5b5fa2e4] .left .formItem .el-form-item__label {
  color: #222;
  font-size: 14px;
  padding-right: 10px;
}
.filterWrap[data-v-5b5fa2e4] .left .formItem .el-input__inner {
  font-size: 14px;
  color: #222;
  height: 32px;
  line-height: 32px;
  border: none;
  background: #fff;
  padding: 0 32px 0 8px;
  border-radius: 2px;
}
.filterWrap[data-v-5b5fa2e4] .left .formItem .el-input__icon {
  line-height: 32px;
}
.filterWrap[data-v-5b5fa2e4] .left .el-form--inline .el-form-item {
  margin-right: 40px;
}
.filterWrap[data-v-5b5fa2e4] .left .el-form--inline .el-form-item__content {
  width: 140px;
}
.filterWrap[data-v-5b5fa2e4] .left .el-form--inline .timePicker .el-form-item__content {
  width: 246px;
}
.filterWrap .right[data-v-5b5fa2e4] {
  font-size: 14px;
  text-align: center;
  line-height: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}
.filterWrap .right .reset[data-v-5b5fa2e4] {
  width: 68px;
  height: 32px;
  color: #222;
  background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEQAAAAgCAMAAACcqC7MAAAAb1BMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+pUA8cAAAAJHRSTlOIWei4rJRkKR7EQPYSNfHe2tLOn3JwTKJ+ThE2Qny+ezSjfU8LrYRQAAAAsElEQVRIx+1WyQ7CIBAdurEMuK+01qr8/zd6sY5NjAmM6QnuvLyNF0BgYB4UgKCkMwfR7C9Qb6tSb1bF4seNYrnWZXWs4bRrxNm0UgFCsEoOHyB9DMijc1LZAMGPTK4JTLr2DTJEy7mNcl4gdsqkj2biSU6aseQJiwnJSUuHPOEz8QxjyROGsfeJHG7tfWDVnp8OGct9O8Z9rb2et/aUTt6TvCd5TxLTQeDuCeBfvhZPSP7Al7vz1Z4AAAAASUVORK5CYII=) no-repeat;
  background-size: cover;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 12px;
}
.filterWrap .right .getList[data-v-5b5fa2e4] {
  width: 68px;
  height: 32px;
  color: #fff;
  background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEQAAAAgCAMAAACcqC7MAAAAWlBMVEXA5/rL3frU7vzb6PxDpPBKne9GovBAp/BIoPA8q/A6rfBRl+8+qfBNm+84r/BPmu82sfBTlu9UlO9Wk+/M3/ozs/DI4vpYke/C6PrF5fpOme5ewfN2q/J8pvFC6EseAAAABHRSTlPx8U1NdPUC2gAAAWhJREFUSMeV1oF2gjAMBdCim2gRAtNNrdv//+bajCTy1ip9H3DPa0J7cBt3XeSWyVcuZ0mzde7+yRljhhTv/SHmGNOmvHF2KfuY95S+7wMRhS5m+m7c1YyRCUDQEISiwsY0nR+RARAosk+ZCW4SDKkrIgiRFvkQpDiRVo2dHkaKADJqk+JY/xeh2RCkaLRgCKKGIX8EIEczdKx4mC4aOeSQWw1OhAIFMRhJhihiCFIoQrobbWJEChwmJnOYQJ0apxMgcJrSx5qyRMQwpFTEJhKsiCHWZMU3ErQIG4I8LYII6WoAkSLF1WAT268hONWVVy8ZguSvXtnQDw0QMQSpKXJRxKe8mMh8aRiZFLkwMtQUgdUIgi8aPkaGwDvyiNR9rBSwCCNaBIzs8yxFEJGJrNwvFlHErz2NGoiAAUWKV0/2iwg+z2j0cH0NucFqwCi8aHYYRtwdTqMDwefZiiyRn8ZtXO2/BKbZ/gInkGd6uA7pRgAAAABJRU5ErkJggg==) no-repeat;
  background-size: cover;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.datePicker[data-v-5b5fa2e4] {
  width: 250px;
}
.topArea[data-v-5b5fa2e4] {
  padding: 20px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #dcdee2;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}
.topArea .formArea[data-v-5b5fa2e4] {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
}
.popover[data-v-5b5fa2e4] {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
.popover .popoverL[data-v-5b5fa2e4] {
  max-width: 350px;
  margin-right: 15px;
  margin-bottom: 10px;
}
.popover .popoverR[data-v-5b5fa2e4] {
  text-align: left;
}
.state[data-v-5b5fa2e4] {
  position: relative;
}
.state[data-v-5b5fa2e4]::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  left: -12px;
  top: 7px;
}
.state1[data-v-5b5fa2e4]::before {
  background: #ff9a2e;
}
.state2[data-v-5b5fa2e4]::before {
  background: #23c343;
}
.state3[data-v-5b5fa2e4]::before {
  background: #e5e6e8;
}
.textLine[data-v-5b5fa2e4] {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  color: #222;
  font-weight: bold;
}
.textLine .label_id[data-v-5b5fa2e4] {
  width: 130px;
}
.textLine .label_no[data-v-5b5fa2e4] {
  width: 170px;
}
.textLine .label_name[data-v-5b5fa2e4] {
  width: 140px;
}
.textLine .label_time[data-v-5b5fa2e4] {
  width: 202px;
}
.textLine .lineContent[data-v-5b5fa2e4] {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
}
.imgWrap[data-v-5b5fa2e4] {
  margin-top: 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
[data-v-5b5fa2e4] .imgWrap .el-image__inner {
  width: initial;
}
[data-v-5b5fa2e4] .el-dialog--center {
  height: 500px;
  border-radius: 15px;
  background: white url(../../static/img/bg_tanchuang_list.c4442a9.png) no-repeat;
  background-size: 100% 100%;
}
[data-v-5b5fa2e4] .el-dialog--center .el-dialog__headerbtn {
  top: 5px;
  right: 5px;
}
[data-v-5b5fa2e4] .el-dialog--center .el-dialog__headerbtn .el-dialog__close {
  font-size: 32px;
  font-weight: 900;
  color: black;
}
[data-v-5b5fa2e4] .el-dialog--center .el-dialog__body {
  padding: 20px 29px;
}

