
.agreement {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 10px;
  padding: 20px 10px 20px 20px;
  margin-top: 20px;

  .title {
    font-size: 16px;
    text-align: center;
    color: #333;
    margin-bottom: 15px
  }
  .content{
    margin-right: 10px;
  }
}

.confirmBtn {
  width: 100px;
  height: 37px;
  background: #FF782D;
  font-size: 14px !important;
  margin-top: 50px;
}
