@import '~styles/core/common.less';
// 组件命名前缀
@sino-prefix: sn;

// 滑动开关
@switch-width: .92rem;
@switch-height: .44rem;
@switch-size: .3rem;
@switch-background-color: #EBF0F7;
@switch-border: none;
@switch-transition-duration: 300ms;
@switch-node-size: .36rem;
@switch-node-z-index: 100;
@switch-on-background-color: @theme-color;
@switch-node-background-color: #fff;
@switch-node-box-shadow: 0 .02rem .04rem 0 rgba(213, 220, 230, 1);
@switch-disabled-opacity: .5;