@charset "utf-8";
.date-picker .ivu-input {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	font-size: 14px;
    font-family: inherit;
    text-align: center;
}

.date-picker .ivu-input:hover {
	border-color: #d2d2d8;
}

.date-picker .ivu-input:focus {
	box-shadow: none;
	border-color: #d2d2d8;
}
.ivu-icon-ios-calendar-outline:before{
    content: none;
}
.ivu-input-prefix, .ivu-input-suffix{
    width: 34px;
	height: 32px;
	background: url('~assets//icon_date_picker_nor.png') no-repeat 0 0; 
}
.ivu-input-prefix, .ivu-input-suffix:hover,
.ivu-input-prefix, .ivu-input-suffix:selected{
	background: url('~assets//icon_date_picker_hov.png') no-repeat 0 0;
}
.date-picker .ivu-input-icon {
	width: 34px;
	height: 32px;
	background: url('~assets//icon_date_picker_nor.png') no-repeat 0 0;
}

.date-picker .ivu-input-icon:hover,
.date-picker .ivu-input-icon.selected {
	background: url('~assets//icon_date_picker_hov.png') no-repeat 0 0;
}

.date-picker .ivu-input-icon:before {
	content: none;
}
.channel-edit-content .ivu-select-placeholder {
    font-size: 12px !important;
    color: #999 !important;
}

.ivu-select-multiple .ivu-select-item-selected:after {
    display: block;
}
.date-picker .ivu-btn-default{
    display: none;
}
.ivu-cascader .ivu-cascader-menu-item {
    padding-right: 30px;
}
ivu-cascader-menu .ivu-cascader-menu-item-active {
    width: max-content;
}
.ivu-page li {
    min-width: 24px;
    height: 24px;
    line-height: 24px;
}