@base-theme-color: #262DD9;
@base-theme-color-active: #407cd6;
@base-price-color: #FF4E3A;
@base-yellow-color: #ffa200;
@base-success-color: #23cda7;
@base-info-color: #a4acb2;
@base-warning-color: #f49939;
@base-warning-color-light: #ffa501;
@base-danger-color: #e32d2d;
@base-danger-color-light: #ff4e3a;
@base-normal-color: #d9d9d9;
@base-text-color: #222;
@base-secondary-text-color: #666;
@base-third-text-color: #999;
@base-placeholder-color: #c2c2c2;
@base-disable-color: #d3d3d3;
@base-background-color: #F6F9FD;
@base-share-background-color: #F2F7FB;
@base-sub-background-color: #fff;
@base-info-background: #FCF5EF;
@base-ordering-background:#D4E5FF;
@base-border-color-base:#E8E8E8;
@base-shadow-color: rgba(161, 161, 161, 0.1);
@base-tipsbg-color:#FFECCD;

// @base-linear-theme-color-start: #F49F5D;
// @base-linear-theme-color-end: @base-theme-color;
@base-linear-danger-color-start: #F66565;
@base-linear-danger-color-end: #F04949;
@base-linear-primary-color-start: #5100C8;
@base-linear-primary-color-end: #0500A3;
@base-linear-primary-light-color-start: #3991F7;
@base-linear-primary-light-color-end: #0500A3;
@base-linear-disable-color-start: #e8e8e8;
@base-linear-disable-color-end: #d3d3d3;
@base-linear-waring-color-start: #FFC10E;
@base-linear-waring-color-end: #FFA501;
@base-linear-success-color-start: #00C882;
@base-linear-success-color-end: #0092A3;
@base-linear-success-light-color-start: #37D1BC;
@base-linear-success-light-color-end: #23CDA7;
