@import '~themes/default/styles/common/variable.less';
@import '~mallStyles/mixins/mixinsStyle.less';
.navigation{
    .entryListWrap{   
        max-width: @screen-sm;
        margin: 0 auto;    
        padding: 0.4rem;
        .entryItem{
            position: relative;
            height: 2.32rem;
            margin-bottom: 0.4rem;
            .iconWrap{ 
                height: 2.32rem;
                background-repeat:  no-repeat;
                background-position: center;
                background-size: 100% 100%;
            }

        }
    }


}