.subtitle {
    color: #343434;
    font-size: 14px;
    line-height: 40px;
}

.subLabel {
    margin-right: 8px;
    font-size: 14px;
}

.rowRadio {
    line-height: 32px;
}

.com_default_styles {
    margin: 0 10px;
    flex-wrap: wrap;
  
    .sel_show_style {
        border: 1px solid rgba(66, 158, 253, 1);
    }
}