.el_confirm{
    width: 380px;
    height: 275px;
    background: url('../../../img/bg_tanchuang_result.png') center no-repeat;
    // background-size: 100%;
    border-radius: 15px;
    .el-icon-success{
        background: url('../../../img/icon_toast_success.png') center  no-repeat;
        font-size: 0!important;
        width: 60px;
        height:62px;
    }
    .el-button--small{
        width: 120px;
        height: 40px;
        font-size: 15px;
    }
    .el-icon-error{
        background: url('../../../img/icon_toast_error.png') center center no-repeat;
        font-size: 0!important;
        width: 60px;
        height:62px;
    }
    .el-icon-warning{
        background: url('../../../img/icon_toast_warning.png') center center no-repeat;
        font-size: 0!important;
        width: 60px;
        height:62px;
    }
    .el-message-box__content{
        padding-top: 6px;
    }
    .result{
       
        font-size: 18px;
    }
    .success{
        color:#23CDA7;
    }
    .error{
        color:#FF3C3C;
    }
    .warning{
        color:#F49939;
        height: 85px;
    }
    .detail{
        color:#222;
        margin-top: 25px;
        font-size: 16px;
        font-weight: 600;
    }
    .el_cancel_btn{
        background: url('../../../img/btn_cancel.png') center center no-repeat;
        margin-right: 30px;
        span{
            color:#000
        }
    }
    .el_ok_btn{
        background: url('../../../img/btn_ok.png') center center no-repeat;
    }
    .coverText{
        margin-bottom: 40px;
    }
    
}