// 组件命名前缀
@sino-prefix: sn;

// 主题色
@theme-color: #262DD9;

// 通用颜色
@price-color: #FF4E3A;
@yellow-color: #ffa200;
@danger-color-light: #f2473d;

@success-color: #23cda7;
@info-color: #999999;
@warning-color: #f49939;
@warning-color-light: #ffa501;
@danger-color: #e32d2d;
@danger-color-light: #ff4e3a;
@normal-color: #d9d9d9;
@text-color: #222;
@secondary-text-color: #666;
@third-text-color: #999;
@placeholder-color: #999999;
@disable-color: #d3d3d3;
@background-color: #F6F9FD;
@search-background-color: #F2F5F8;
@share-background-color: #F2F7FB;
@sub-background-color: #fff;
@info-background: #FCF5EF;
@ordering-background:#D4E5FF;
@address-blue:#2942E8; //地址管理使用的蓝色
@imgBg-color: #EAEFF4;
// 通用字体大小
@font-size-base: .3rem;

//留白
@white-space: .3rem;
@white-space-sm: .08rem;

// 通用行高
@line-height: 1.4;

// 通用边框颜色
@border-color-base: #E8E8E8;

// 通用圆角大小
@border-radius-base: .2rem;
@border-radius-lg: .26rem;
@border-radius-sm: .08rem;

// 通用阴影
@shadow-color: rgba(161, 161, 161, 0.1);

//商品列表阴影
@goods-shadow-color: 0px 6px 20px 0px rgba(101,112,242,0.12);;
// 动画
@ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
@ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
@ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
@animation-duration-base: 300ms;


// 屏幕尺寸
@screen-sm: 616px;
@screen-md: 768px;
@screen-lg: 960px;

// PC通用内边距
@pc-padding-base: 30px;
@pc-padding-lg: 50px;
@pc-padding-sm: 15px;

// dom最大宽度
@max-content-width: 960px;
