.tablan_wrap {

    width: 100%;

    .top_img {
        width : 100%;
        height: 248px;
    }

    .tablan_top {
        padding: 0 10px;
        width  : 100%;
        height : 44px;

        .item {
            padding     : 10px 0;
            flex-shrink : 0;
            margin-right: 20px;

            .tab_name_part {
                .tab_name {
                    color      : #2E2E2E;
                    font-size  : 14px;
                    line-height: 14px;
                }

                .line {
                    height       : 2px;
                    background   : #fff;
                    border-radius: 2px;
                    width        : 100%;
                    margin-top   : 7px;
                }

                .line.current_nav {
                    background: #262dd9 !important;
                }
            }

            .tab_sub_name {
                color      : #666;
                font-size  : 12px;
                line-height: 12px;
            }
        }
    }

    .coupon_coupon_top_image {
        width          : 100%;
        height         : auto;

        img{
            width: 100%;
        }
    }

    .coupon_content {
        padding       : 5px;
        width         : 100%;
        flex-direction: column;

        .coupon_item_box {
            width           : 316px;
            height          : 95px; // 95px
            margin-bottom   : 12px;
            border-radius   : 5px;
            background-color: #f7f7f7;
            overflow        : hidden;

            .coupon_item {
                display         : flex;
                width           : 316px;
                height          : 95px;
                border-radius   : 5px;
                overflow        : hidden;
                background-color: #fff;
                margin-bottom   : 10px;


                .coupon_left_box {
                    position: relative;
                    width   : 236px;
                    height  : 95px;

                    .coupon_tips {
                        position        : absolute;
                        width           : 80px;
                        height          : 20px;
                        background-color: #F30300;
                        color           : white;
                        font-size       : 12px;
                        line-height     : 20px;
                        text-align      : center;
                        transform       : rotate(315deg);
                        left            : -24px;
                        top             : 6px;

                    }

                    .coupon_price {
                        position: absolute;
                        left    : 21px;
                        top     : 20px;
                        color   : #F30300;
                        width: 80px;

                        .coupon_unit {
                            font-size: 16px;
                        }

                        .coupon_number {
                            font-size: 32px;
                        }

                        .coupon_random_number {
                            font-size: 22px;
                        }
                    }

                    .price_tips {
                        position: absolute;
                        left    : 14px;
                        top     : 61px;
                        color   : #F30300;
                        width: 88px;
                        word-break: break-all;
                        white-space: normal;
                        font-size: 12px;
                    }

                    .coupon_second_tips {
                        width        : 90px;
                        height       : 21px;
                        position     : absolute;
                        left         : 101px;
                        top          : 10px;
                        font-size    : 15px;
                        font-weight  : bold;
                        overflow     : hidden;
                        white-space  : nowrap;
                        text-overflow: ellipsis;
                    }

                    .coupon_type {
                        width     : 84px;
                        height    : 17px;
                        text-align: center;
                        position  : absolute;
                        left      : 95px;
                        top       : 31px;
                        color     : #FC8848;
                        font-size : 12px;
                    }

                    .coupon_date {
                        width    : 135px;
                        height   : 17px;
                        position : absolute;
                        left     : 101px;
                        top      : 41px;
                        font-size: 12px;

                    }

                    .coupon_rule {
                        width    : 70px;
                        height   : 17px;
                        position : absolute;
                        left     : 101px;
                        top      : 68px;
                        font-size: 12px;
                        cursor   : pointer;

                        .rule_icon {
                            display         : inline-block;
                            width           : 8px;
                            height          : 8px;
                            position        : absolute;
                            left            : 52px;
                            top             : 4px;
                            background      : url('@/assets/img/decorate/pc/btn_coupon_rule_icon.svg') no-repeat;
                            background-size : contain;
                            transform-origin: center center;
                        }

                    }
                }

                .coupon_right_box {
                    width     : 80px;
                    height    : 95px;
                    font-size : 13px;
                    background: #FF2929;
                    color     : #fff;
                    position  : relative;

                    .coupon_stock_tips {
                        width    : 56px;
                        height   : 18px;
                        position : absolute;
                        left     : 14px;
                        top      : 12px;
                        font-size: 13px;
                    }

                    .coupon_stock_bar {
                        width           : 52px;
                        height          : 3px;
                        background-color: rgb(254, 145, 145);
                        border-radius   : 2px;
                        position        : absolute;
                        left            : 14px;
                        top             : 33px;

                        .coupon_stock_bar_progress {
                            width        : 20px;
                            height       : 3px;
                            background   : #ffffff;
                            opacity      : 1;
                            border-radius: 2px;
                        }
                    }

                    .coupon_get_button {
                        position   : absolute;
                        left       : 12px;
                        top        : 63px;
                        font-weight: bold;
                    }

                }

            }

            p {
                padding      : 0 12px;
                margin-bottom: 8px;
                color        : #666666;
            }
        }
    }

    .coupon_bottom {
        width : 100%;
        height: 20px;
    }
}