// 修改抽奖组件样式
::v-deep .hiteggs {
    position: absolute;
    left: 0;
    bottom: 38%;
}

::v-deep .giftrain {
    z-index: 99;
}

.luck-draw {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .scaleContent1 {
        height: 1448rpx;
        position: absolute;
        top: 50%;
    }

    .scaleContent2 {
        height: 100vh;
        position: relative;
        padding-top: 30rpx;
    }

    .luckTitle {
        width: 100%;
        height: 210rpx;
        margin-top: 50rpx;
        z-index: 10;
    }

    .content {
        width: 100%;
        position: relative;
    }

    .activity_rule {
        position: absolute;
        width: 152rpx;
        height: 58rpx;
        right: 0;
        z-index: 100;
    }
    .winprize_list{
        position: absolute;
        width: 152rpx;
        height: 58rpx;
        right: 0rpx;
        bottom: 160rpx;
        z-index: 100;
        transform: scale(1.1)
    }
 
    .tips {
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 30rpx;
        font-weight: bold;
        color: #EB2910;
        letter-spacing: 2rpx;
        // overflow: hidden;

    }

    .emptyBox {
        position: absolute;
        width: 280rpx;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

        image {
            width: 280rpx;
            height: 280rpx;
        }

        view {
            text-align: center;
            font-size: PingFangSC;
            color: #999;
            margin-top: 40rpx;
        }
    }
}
.fixed_back{
    position: fixed;
    left: 20rpx;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    image{
        width: 16px;
    }
}