.subtitle {
    color: #343434;
    font-size: 14px;
    line-height: 40px;
}

.sld_com_img {
    border    : 1px solid #eee;
    margin-top: 10px;
    position  : relative;
    background: #f8f8f8;
    padding   : 10px 0;
  
  
    .del_sld_com_img {
        margin-left: 20px;
        position: absolute;
        right: -8px;
        top: -8px;
        cursor: pointer;
    }
}

.title {
    width: 232px;
    margin-bottom: 8px;
}

.topSearchtitle {
    padding: 5px;
}

.add_goods_wrap {
    width: 100%;
    height: 30px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 3px;
    margin-top: 20px;
    color: #343434;
    cursor: pointer;
}