@import '~themes/default/styles/common/variable.less';
@import '~mallStyles/mixins/hairLine.less';
.detail-container{
  overflow: hidden;

  .scroll-content{
    overflow-y: auto;
    &.lockScrollY{
      overflow-y: hidden;
    }
  }
}

.full-screen{
  height: 100%;
}