

.no_data_wrap {
  text-align: center;
  margin-top: 70px;
  p {
    color: #333;
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 5px;
  }
  img {
    height: 250px;

  }
  .settledBtn {
    background: #FF782D;
    color: #fff;
    font-size: 17px;
    width: 120px;
    height: 35px;
  }
}
