@import '~antd/lib/style/themes/default.less';

.selected_color {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, .05);
  width: 30px;
  height: 30px;
  background: #fff;
  margin-left: 15px;
}

.bg_color_current {
  border-color: #429DFD !important;
}

.color_picker_wrap {
  position: absolute;
  z-index: 2;

  .color_picker_mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
