.add_goods_wrap {
    width: 100%;
    height: 30px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 3px;
    margin-top: 20px;
    color: #343434;
    cursor: pointer;
}

.union_group {
    position: relative;
}

.group_item {
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

.del_sld_com_img {
    margin-left: 20px;
    position: absolute;
    right: -8px;
    top: -8px;
    cursor: pointer;
}

.group_item_move {
    position: absolute;
    top: 20px;
    right: -12px;
    cursor: pointer;
}