.title {
    height: 30px;
    position: relative;
    background-color: #eceff3;

    .leftTitle {
        position: absolute;
        height: 24px;
        left: 5px;
        top: 3px;
    }

    .rightTitle {
        position: absolute;
        height: 24px;
        right: 5px;
        top: 3px;
    }

    .titleImg {
        height: 100%;
        width: auto;
    }
}