@import 'base.less';
body{
    --themeColor: @base-theme-color;
    --btnDangerBgColor: @base-btn-danger-bg-color;
    --addressColor:@base-address-color; //地址管理使用的蓝色
    --linearThemeColorStart: @base-linear-theme-color-start;
    --linearThemeColorEnd: @base-linear-theme-color-end;
    --linearAddCartColorStart: @base-linear-addCart-color-start;
    --linearAddCartColorEnd: @base-linear-addCart-color-end;
}

// 主题色
@theme-color: ~"var(--themeColor)";

// 通用颜色
@yellow-color: ~"var(--yellowColor)";
@success-color: ~"var(--successColor)";
@info-color: ~"var(--infoColor)";
@warning-color: ~"var(--warningColor)";
@warning-color-light: ~"var(--warningColorLight)";
@danger-color: ~"var(--dangerColor)";
@danger-color-light: ~"var(--dangerColorLight)";
@normal-color: ~"var(--normalColor)";
@text-color: ~"var(--textColor)";
@secondary-text-color: ~"var(--secondaryTextColor)";
@third-text-color: ~"var(--thirdTextColor)";
@placeholder-color: ~"var(--placeholderColor)";
@disable-color: ~"var(--disableColor)";
@background-color: ~"var(--backgroundColor)";
@share-background-color: ~"var(--shareBackgroundColor)";
@sub-background-color: ~"var(--subBackgroundColor)";
@info-background: ~"var(--infoBackground)";
@ordering-background: ~"var(--orderingBackground)";
@address-color: ~"var(--addressColor)";
@btn-danger-bg-color: ~"var(--btnDangerBgColor)";
@thumbnail-bg-color: ~"var(--baseThumbnailBgColor)";