<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="BPLUS-APP-INFO" content="name=bbc-mobile">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>
        <link rel="icon" href="data:;base64,=">
        <link rel="stylesheet" href="<%= BASE_URL %>static/index.<%= VUE_APP_INDEX_CSS_HASH %>.css" />
		<!-- <link href="./thirdparty/video-js.min.css" rel="stylesheet"> -->
		<style>.video-js .vjs-control-bar{z-index: 3;}</style>
        <style>
            *{box-sizing: border-box;}
        </style>
    </head>
    <body>
        <noscript>
            <strong>Please enable JavaScript to continue.</strong>
        </noscript>
        <div id="app">
		</div>
       
        </div>
        
        <!-- built files will be auto injected -->
        <script src="./thirdparty/vue.js?t=<%=TIMESTAMP_ENV%>"></script>
        <script src="./thirdparty/vue-router.min.js?t=<%=TIMESTAMP_ENV%>"></script>
        <script src="./thirdparty/vuex.min.js?t=<%=TIMESTAMP_ENV%>"></script>
		<script src="./thirdparty/swp-utils.js?t=<%=TIMESTAMP_ENV%>"></script>
		<script src="./thirdparty/sinosdk/sinosdk.js?t=<%=TIMESTAMP_ENV%>"></script>
    </body>
</html>