
// tag 样式
.tag{
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-align: center;
  padding: 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
}

// 绿色 成功状态  sucess
.sucess{
  background-color:#16F2B2;
  border-color: #16F2B2;
}

// 红色 失败状态  failed
.failed{
  background-color: #FF3200; 
  border-color: #FF3200; 
}

// 黄色 中间状态  pending
.pending{
  background-color: #FFDA21; 
  border-color: #FFDA21; 
}

// 灰色 起止状态  normal
.normal{
  background-color: #BFBFBF; 
  border-color: #BFBFBF; 
}