@import '~antd/lib/style/themes/default.less';

.component_sele_more{
    width: 100%;
    padding: 0 20px 20px 20px;
    display: flex;
    overflow-y: scroll;
    .left,.right{
    width: 438px;
    padding: 10px;
    margin-left: 10px;
    background:rgba(245,245,245,1);
    border:1px solid rgba(238,238,238,1);
    flex-wrap: wrap;
    align-content: flex-start;
    }
}
