@import "./hairLine.less";

.linear-gra-mall-addFavorite(@angle: to bottom right){
    background-image: linear-gradient(@angle, #FEC85C, #FF9B24);
}

.linear-gra-mall-btn(@angle: to bottom right){
    background-image: linear-gradient(@angle, #F49F5D, #E82B29);
}

.linear-gra-danger(@angle: to bottom right){
    background-image: linear-gradient(@angle, #F66565, #F04949);
}

.linear-gra-primary(@angle: to bottom right){
    background-image: linear-gradient(@angle, #5100C8, #478aee);
}

.linear-gra-primary-light(@angle: to bottom right){
    background-image: linear-gradient(@angle, #3991F7, #478aee);
}

.linear-gra-disable(@angle: to bottom right){
    background-image: linear-gradient(@angle, #e8e8e8, #d3d3d3);
}

.linear-gra-waring(@angle: to bottom right){
    background-image: linear-gradient(@angle, #FFC10E, #FFA501);
}

.linear-gra-success(@angle: to bottom right){
    background-image: linear-gradient(@angle, #00C882, #0092A3);
}

.linear-gra-success-light(@angle: to bottom right){
    background-image: linear-gradient(@angle, #37D1BC, #23CDA7);
}
.linear-gra-hotel-red(@angle: to bottom right){
    background-image: linear-gradient(@angle, #FC9571, #F04949);
}
.clear(){
    &:before,&:after{
        clear: both;
        content:'';
        display: block;
        overflow: hidden;
        line-height: 0px;
        height: 0px;
        zoom: 1;
    }
}

.no-wrap(){
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all; /* 追加这一行代码 */
}
/**
 * 添加中划线
 */
.del(){
    padding: 0 0.1rem;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        height: 1px;
        background-color: @fc-info;
    }
}

/**
 * 显示@line行,超过的部分显示...
 * @param  @line 显示的行数
 */
.line-clamp(@line){
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.flex-box(){
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.flex(@value: 1){
    -webkit-box-flex: @value;      
    -moz-box-flex: @value;        
    -webkit-flex: @value;          
    -ms-flex: @value;              
    flex: @value;                  
}
.justify-content(@value: center){
    -webkit-box-pack: @value;
    -webkit-justify-content: @value;
    -moz-justify-content: @value;
    -ms-justify-content: @value;
    -o-justify-content: @value;
    justify-content: @value;
}
.align-items(@value: center){
    -ms-flex-align: @value;
    -webkit-align-items: @value;
    -moz-align-items: @value;
    align-items: @value;
}
